{% extends 'layouts/base.html' %}
{% include 'include/navigation.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div style="margin-top: 100px;"> 
  <h2>Upload Data Files</h2>
   </div>
 <div style="margin-top: 70px;"> 

  <form method="post" enctype="multipart/form-data">
   
  </div>
    {% csrf_token %}
    
      {% load django_bootstrap5  %}

       <form method="post" enctype="multipart/form-data">
           {% csrf_token %}
       
           <div class="mb-3">
            <label for="{{ form.dirty_txt_file.id_for_label }}" class="form-label">
                <i class="fas fa-file"></i> Upload Text File (.txt)
            </label>
               {% bootstrap_field form.dirty_txt_file %}
           </div>
       
        <div style = "margin-top: 50px;">
           <div class="mb-3">
               <label for="{{ form.dirty_excel_file.id_for_label }}" class="form-label">
                   <i class="fas fa-file"></i> Upload Excel File (.xlsx)
               </label>
               {% bootstrap_field form.dirty_excel_file %}
           </div>
       
    </div>       
       
           <button type="submit" class="btn btn-primary">Submit</button>
       </form>

  {% block javascript %}
  {% endblock %}
{% endblock %}
